@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Yellowtail&display=swap');
@import url(_reset.css);
@import url(_var.css);
@import url(_responsive.css);

html {
  height: 100vh;
}

body {
  font-family: var(--font-txt);
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: var(--light-green);
  color: var(--black);
  width: 100%;
}

.header-div {
  margin: 0 auto;
  height: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .9rem;
  padding-inline: 5rem;
  border-bottom: 3px solid var(--purple);
}

.header-div div {
  display: flex;
  align-items: center;
  font-family: var(--font-title);
  font-size: 2rem;
}

.header h1 {
  margin-left: 1rem;
}

.git-link {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.project {
  margin: 0 0 2rem 1rem;
  width: 23rem;
  height: 18rem + 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  transition: .05s;
  border-bottom: 5px solid transparent;
}

.icon-corner {
  width: 3rem;
  margin-bottom: .5rem;
  align-self: flex-start;
}

.project:hover {
  cursor: pointer;
  border-bottom: 5px solid var(--light-purple);
  transition: .05s;
}

.project-icon {
  width: 23rem;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-description {
  width: 100%;
}

/* footer */

.footer {
  height: 5rem;
  background-color: var(--purple);
  margin-top: 4rem;
  display: flex;
  font-size: 1rem;
  padding: 1rem;
  align-items: center;
}

.footer a {
  font-size: 1.2rem;
  margin-right: 1rem;
}